<form
  novalidate
  #form="ngForm"
  class="d-flex gap-2 flex-column"
>
  <div class="d-flex justify-content-center">
    <button
      [disabled]="disabled"
      type="button"
      class="d-flex gap-1 align-items-center"
      (click)="restart.emit()"
    >
      New Game
    </button>
  </div>
  <div class="card">
    <div class="card-header">
      <h2 class="d-flex gap-2 align-items-center justify-content-between">
        <span>
          Settings
        </span>
        <icon
          type="gear"
          size="1em"
          [fillOpacity]="0"
        ></icon>
      </h2>
    </div>
    <div class="card-body settings">
      <jo-text
        [(ngModel)]="formService.model.player1"
        name="player1"
        [disabled]="formService.model.botPlayer === 'x'"
        [maxLength]="15"
      >
        X Name
      </jo-text>
      <jo-text
        [(ngModel)]="formService.model.player2"
        name="player2"
        [disabled]="formService.model.botPlayer === 'o'"
        [maxLength]="15"
      >
        O Name
      </jo-text>
      <jo-color
        [(ngModel)]="formService.model.xColor"
        name="xColor"
      >
        X Theme
      </jo-color>
      <jo-color
        [(ngModel)]="formService.model.oColor"
        name="oColor"
      >
        O Theme
      </jo-color>
      <jo-choice
        [(ngModel)]="formService.model.goesFirst"
        (ngModelChange)="restart.emit()"
        name="goesFirst"
        required
        [disabled]="disabled"
        [items]="botPlayers"
      >
        Who goes first
      </jo-choice>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h2 class="d-flex gap-2 align-items-center justify-content-between">
        <span>Bot Settings</span>
        <icon
          type="user"
          size="1em"
          [fillOpacity]="0"
        ></icon>
      </h2>
    </div>
    <div class="card-body bot-settings">
      <jo-choice
        [(ngModel)]="formService.model.botPlayer"
        (ngModelChange)="restart.emit()"
        name="botPlayer"
        [disabled]="disabled"
        [items]="botPlayers"
      >
        Play
      </jo-choice>
      <jo-choice
        [(ngModel)]="formService.model.botFirstMove"
        (ngModelChange)="restart.emit()"
        name="botFirstMove"
        required
        [disabled]="!formService.model.botPlayer || formService.model.botPlayer !== formService.model.goesFirst || disabled"
        [items]="botFirstMoves"
      >
        First move
      </jo-choice>
    </div>
  </div>
</form>
