:host {
  // for scroll snap
  display: block;
}

form {
  margin: auto;
  padding: 2em 1em;
  max-width: 720px;
}

.bot-settings {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  :last-child {
    grid-column: span 2;
  }
}

.settings {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  border: 1px solid currentColor;
  border-radius: 0.5em;

  >.card-header {
    border-bottom: 1px solid currentColor;
  }

  .card-header,
  .card-body {
    padding: 1em;
  }
}

button {
  padding: 1em !important;
  border-radius: 0.5em;
}