<form
  novalidate
  #form="ngForm"
  class="d-flex gap-2 flex-column"
>
  <div class="d-flex justify-content-center">
    <button
      [disabled]="disabled()"
      type="button"
      class="d-flex gap-1 align-items-center"
      (click)="restart.emit()"
    >
      New Game
    </button>
  </div>
  <div class="card">
    <div class="card-header">
      <h2 class="d-flex gap-2 align-items-center justify-content-between">
        <span>
          Settings
        </span>
        <icon
          type="gear"
          size="1em"
          [fillOpacity]="0"
        ></icon>
      </h2>
    </div>
    <div class="card-body settings">
      <cc-text
        [ngModel]="formService.player1()"
        (ngModelChange)="formService.player1.set($event)"
        name="player1"
        [disabled]="formService.botPlayer() === 'x'"
        [maxLength]="15"
      >
        X Name
      </cc-text>
      <cc-text
        [ngModel]="formService.player2()"
        (ngModelChange)="formService.player2.set($event)"
        name="player2"
        [disabled]="formService.botPlayer() === 'o'"
        [maxLength]="15"
      >
        O Name
      </cc-text>
      <cc-color
        [ngModel]="formService.xColor()"
        (ngModelChange)="formService.xColor.set($event)"
        name="xColor"
      >
        X Theme
      </cc-color>
      <cc-color
        [ngModel]="formService.oColor()"
        (ngModelChange)="formService.oColor.set($event)"
        name="oColor"
      >
        O Theme
      </cc-color>
      <cc-choice
        [ngModel]="formService.goesFirst()"
        (ngModelChange)="formService.goesFirst.set($event); restart.emit()"
        name="goesFirst"
        required
        [disabled]="disabled()"
        [items]="botPlayers"
      >
        Who goes first
      </cc-choice>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h2 class="d-flex gap-2 align-items-center justify-content-between">
        <span>Bot Settings</span>
        <icon
          type="user"
          size="1em"
          [fillOpacity]="0"
        ></icon>
      </h2>
    </div>
    <div class="card-body bot-settings">
      <cc-choice
        [ngModel]="formService.botPlayer()"
        (ngModelChange)="formService.botPlayer.set($event); restart.emit()"
        name="botPlayer"
        [disabled]="disabled()"
        [items]="botPlayers"
      >
        Play
      </cc-choice>
      <cc-choice
        [ngModel]="formService.botFirstMove()"
        (ngModelChange)="formService.botFirstMove.set($event); restart.emit()"
        name="botFirstMove"
        required
        [disabled]="!formService.botPlayer() || formService.botPlayer() !== formService.goesFirst() || disabled()"
        [items]="botFirstMoves"
      >
        First move
      </cc-choice>
    </div>
  </div>
</form>
