:host {
  display: grid;
  grid-template-columns: 1fr;

  > * {
    grid-column: 1;
    grid-row: 1;
  }
}


button {
  padding: 0;
  border: 0;
  margin: 0;
  cursor: pointer;
  padding: 0.5em;

  .hover {
    display: none;
    opacity: 0.3;
  }

  &:disabled {
    opacity: 1;
    cursor: default;
  }

  &:hover,
  &:focus {
    .hover {
      display: inherit;
      animation: fadeIn 1s ease;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

.label,
.bot-label {
  align-self: center;
  justify-self: center;
  font-size: large;
  z-index: 2;
  opacity: 0.7;
  padding: 0.5em;
  border-radius: 0.5em;
  overflow-wrap: anywhere;

  &:empty {
    display: none;
  }
}