<button
  type="button"
  class="theme"
  [class.o]="mark() === 'o'"
  [class.x]="mark() === 'x'"
  [disabled]="mark() !== null || disabled()"
  (click)="claim.emit(index())"
>
  @if (mark() === 'x') {
    <icon
      type="times"
      [fill]="settings.xColor()"
      [spin]="highlight() ? 'x' : null"
    ></icon>
  }
  @if (mark() === 'o') {
    <icon
      type="ring"
      [fill]="settings.oColor()"
      [spin]="highlight() ? 'y' : null"
    ></icon>
  }
  @if (mark() === null) {
    <icon
      [type]="turn() === 'x' ? 'times' : 'ring'"
      class="hover"
      [fill]="turn() === 'x' ? settings.xColor() : settings.oColor()"
    ></icon>
  }
  <span class="{{isBot() ? 'bot-label' : 'label'}}">
    <label>{{label()}}</label>
  </span>
</button>
